.section {
     text-align:justify;
}
.wy-nav-content {
    max-width: 80%;
    width: auto;
}

/* Phones <1600px - use the whole width */
@media (max-width: 1600px) {
    .wy-nav-content {
        max-width: none;
        width: auto;
    }
}
